COMPOSE_PROJECT_NAME=dashboard-dev

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=iieg
POSTGRES_PASSWORD=iieg_secret
POSTGRES_DB=dashboard_tracking

JWT_SECRET_KEY=change-this-to-a-long-random-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

SUPERADMIN_EMAIL=superadmin@iieg.gob.mx
SUPERADMIN_PASSWORD=Super1234!

ALLOWED_ORIGINS=http://localhost

VITE_API_URL=http://localhost:8000
